/* dark.css - Тёмная тема при наличии класса theme-dark на html */

.theme-dark .page {
    background-color: #000028;
    color: #F1B2CE;
    background-image: url('../images/cover-image-dark.png');
}

.theme-dark .decorated-zone::before,
.theme-dark .decorated-zone::after {
    border-color: #FF0070;
}

.theme-dark .header__rec {
    color: #FF0070;
}

.theme-dark .header__rec::after {
    background-color: #FF0070;
    box-shadow: 0 0 4px 2px #FF0070;
}

.theme-dark .header__theme-menu-button {
    color: #FF0070;
}

.theme-dark .header__theme-menu-button:hover {
    border-color: rgba(255, 0, 112, 0.4);
}

.theme-dark .header__theme-menu-button_active,
.theme-dark .header__theme-menu-button[disabled] {
    border-color: #FF0070;
}

.theme-dark .header__theme-menu-button:focus-visible {
    border-bottom-color: #FF0070;
}

.theme-dark .header__title {
    color: #DB00FF;
    text-shadow: 4px 4px 0 #FF0070;
}

.theme-dark .section__title {
    color: #FF0070;
}

.theme-dark .card__text {
    color: #F1B2CE;
}

.theme-dark .card__text a {
    text-shadow: 2px 2px 0 #FF0070;
}

/* Для футера */
.theme-dark .footer__title {
    color: #DB00FF;
    text-shadow: 2px 2px 0 #FF0070;
}