/* light.css - Светлая тема при наличии класса theme-light на html */

.theme-light .page {
    background-color: #FFF1F7;
    color: #353430;
    background-image: url('../images/cover-image-light.png');
}

.theme-light .decorated-zone::before,
.theme-light .decorated-zone::after {
    border-color: #353430;
}

.theme-light .header__rec {
    color: transparent;
}

.theme-light .header__rec::after {
    display: none;
}

.theme-light .header__theme-menu-button {
    color: #353430;
}

.theme-light .header__theme-menu-button:hover {
    border-color: rgba(50, 49, 45, 0.4);
}

.theme-light .header__theme-menu-button_active,
.theme-light .header__theme-menu-button[disabled] {
    border-color: #353430;
}

.theme-light .header__theme-menu-button:focus-visible {
    border-bottom-color: #353430;
}

.theme-light .header__title {
    color: #FFC2E6;
    text-shadow: 4px 4px 0 #FF8DCB;
}

.theme-light .section__title {
    color: #353430;
}

.theme-light .card__text {
    color: #353430;
}

.theme-light .card__text a {
    text-shadow: 2px 2px 0 #FF8DCB;
}

.theme-light .title-decor {
    background-color: #FF8DCB;
    color: #353430;
}

.theme-light .footer__title {
    color: #FFC2E6;
    text-shadow: 4px 4px 0 #FF8DCB;
}